header{
    height: 10vh;
    gap: 35px;
}

main{
    background-color: lightblue;
    min-height: 90vh;
    width: 100%;
    padding: 50px;
}

.container-main{
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

.container-main > div{
    padding: 20px;
}
.main-header{
    border-bottom: 1px solid lightblue;
    display: flex;
    align-items: center;
    gap: 10px;
}
ul li{
    list-style-type:decimal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.true{
    text-decoration: line-through;
}
li span,
li a{
    padding: 5px;
}

input{
    height: 38px;
    border-radius: 5px;
    border: 1px solid grey;
}
.btn-danger{
    --bs-btn-padding-x: 0.6rem;
    --bs-btn-padding-y: 0.2rem;
}
span:hover{
    cursor: pointer;
}